body {
    background-color:seagreen;
}
.FondPrincipal{
    grid-template-columns: 6px [MenuPNJ] max-content 6px [MenuInit] 280px 1fr [DeDef] max-content [BtnValider] max-content 1fr [MenuPJ] max-content 20px [Fin];
}
.MenuHaut{
    background-color:darkkhaki;
}
.FondCarte{
    background-color:transparent;
}
.MenuBas{
    background-color:darkkhaki;
}
.MenuPNJ,
.MenuPJ,
.MenuInit{
    background-color: #857e29;
}
.NomPNJ,
.NomPJ{
    background-color:darkorange;
}
.Ligne{
    background-color:khaki;
    color: black;
}
.Ligne:nth-child(2n){
    background-color: darkkhaki;
    color: black;
}
.EcranPNJ,
.EcranPJ{
    width: 230px;
}
.PersoDef{
    grid-template-columns: 2px repeat(16, 1fr) [Fin] 2px;
}
.Feu{
    background-color: red;
}
.Bois{
    background-color: darkolivegreen;
    color: white;
}
.Terre{
    background-color:sienna;
    color: white;
}
.Metal{
    background-color: silver;
}
.Eau{
    background-color: mediumslateblue;
}


.Debug{
    font-size: 14px;
}