body {
    background-color:seagreen;
}
.FondPrincipal{
    grid-template-columns: 6px [MenuPNJ] max-content 1fr 18px [Fin];
    grid-template-columns: 6px [MenuPNJ] 280px 6px [MenuInit] 280px 1fr [MenuPJ] 280px 20px [Fin];
}
.MenuHaut{
    background-color:darkkhaki;
}
.FondCarte{
    background-color:transparent;
}
.MenuBas{
    background-color:darkkhaki;
}
.MenuPNJ,
.MenuPJ,
.MenuInit{
    background-color: #857e29;
}
.NomPNJ,
.NomPJ{
    background-color:darkorange;
}
.Ligne{
    background-color: darkkhaki;
    color: black;
}
.Ligne:nth-child(2n){
    background-color:khaki;
    color: black;
}
