:root{
    --NbOx: 1;
    --NbOy: 1;
}

/*============================*/
/*  Definition de la carte
/*============================*/
.FondCarte{
    background-color:aquamarine;
    grid-column: 1/Fin;
    grid-row: LigneCarte;
    height: minmax(max-content, 670px);
    overflow:auto;
}
.Carte{
    background-repeat: no-repeat;
    background-size: auto auto;
    background-attachment: fixed;
    background-color:aquamarine;

    overflow:auto;
    display: grid;
    grid-template-columns: repeat(var(--NbOx), 1fr) [TailleMaxi];
    grid-template-rows: repeat(var(--NbOy), 1fr) [TailleMaxi];
    column-gap: 0px;
    row-gap: 0px;
    
    height: max-content;
    width: max-content;
    justify-self: start;
    align-self: start;
}
.Grille{
    grid-column: 1/TailleMaxi;
    grid-row: 1/TailleMaxi;
}
/***********************************/
/*  INFO SUR LA DEFINITION DE LA CARTE
/***********************************/
.MatriceType{
    grid-column: MatriceType;
}
.MatriceTaille{
    grid-column: MatriceTaille;
}
.LabelPositionPNJ,
.PositionPNJ,
.LabelEntrePJ,
.EntrePJ,
.MatriceType,
.MatriceTaille{
    padding-left: 6px;
    padding-right: 6px;
}
/***********************************/
/*  GESTION DES DIFFERENTS FILTRES
/***********************************/
.CelluleCarre{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.FiltreMasque{
    font-size: 16px;
    font-weight: bold;
    z-index: 60;
}
.FiltreOmbre{
    background: repeating-linear-gradient(45deg, black , transparent 10% 10px);;
    font-size: 16px;
    font-weight: bold;
    z-index: 50;
}
.FiltreCellule{
    font-size: 16px;
    font-weight: bold;
    z-index: 40;
}
.FiltreLegende
{
    font-size: 14px;
    z-index: 30;
}
.FiltreCellule:hover {
    background:gold;
    cursor: pointer;
}
.FiltreLegende:hover {
    background:darkorange;
    cursor: pointer;
}
