/*============================*/
/*  Definition de l'ecran principal
/*============================*/
.FondPrincipal{
    display:grid;
    width: auto;
    height: auto;
    grid-template-rows: 30px 30px 4px [LigneCarte] minmax(400px, 670px) 4px 30px;
    row-gap: 0px;
}
/*============================*/
/*  Definition des 3 bandes horizontales
/*============================*/
.MenuHaut{
    grid-column: 1/Fin;
    grid-row: 1/3;
    background-color: crimson;
    border-radius: 14px;
}
.MenuBas{
    font-size: 14px;
    font-weight: bold;
    grid-column: 1/Fin;
    grid-row: 6;
    background-color: crimson;
    border-radius: 14px;
    display: grid;
    grid-template-columns: 6px 35px [Rencontre] max-content [BtnHisto] max-content [ZoneMessage] 1fr [BtnJournal] max-content [Campagne] max-content [MatriceTaille] max-content 6px [Fin];
    align-items: center;
}
/*============================*/
/*  Definition des menus
/*============================*/
.MenuPNJ{
    grid-column: MenuPNJ;
    grid-row: 1;
}
.MenuInit{
    grid-column: MenuInit;
    grid-row: 1;
}
.MenuPJ{
    grid-column: MenuPJ;
    grid-row: 1;
}
.MenuPNJ,
.MenuPJ,
.MenuInit{
    display: grid;
    grid-template-columns: 1fr 32px 32px;
    background-color: darkmagenta;
    overflow: hidden;
    border-radius: 14px;
    align-items: center;
}
.TitreLabel{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
}
/***************************************************************/
/*      DEFINITION DES DES
/***************************************************************/
.DeDef{
    align-items: center;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    grid-column: DeDef;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: max-content max-content;
}
#De0-0,
#De1-0,
#De2-0{
    font-size: 34px;
    border-width: 2px;
    border-style:inset;
    width: 55Px;
    height: 50px;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
}
#De0-1,
#De1-1,
#De2-1{
    font-size: 38px;
    width: 55Px;
    height: 50px;
    border-radius: 8px;
    margin: 4px 4px 4px 4px;
    padding-left: 6px;
}
.BlancNoir{
    background-color: white;
    color: black;
}
.NoirBlanc{
    background-color: black;
    color: white;
}
/***************************************************************/
/*      DEFINITION DU BOUTON DE VALIDATION
/***************************************************************/
.BtnValider{
    grid-column: BtnValider;
    grid-row: 1/3;
    padding-left: 4px;
    padding-right: 4px;
}
.BtnZoom{
    grid-column: BtnZoom;
    grid-row: 1/3;
    padding-left: 4px;
    padding-right: 4px;
}
/***************************************************************/
/*      Definition des listes deroulantes
/***************************************************************/
.EcranPNJ,
.EcranPJ,
.EcranInit{
    z-index: 100;
    overflow: auto;
    background-color:black;
    height: max-content;
    max-height: 690px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: grid;
    grid-template-rows: repeat(2, auto);
}
.EcranPNJ{
    grid-column: MenuPNJ;
    grid-row: 2/5;
    row-gap: 1px;
}
.EcranInit{
    grid-column: MenuInit;
    grid-row: 2/5;
}
.EcranPJ{
    grid-column: MenuPJ;
    grid-row: 2/5;
    row-gap: 1px;
}
/*********************************************************/
/*  Definition des lignes et leurs contenues
/*********************************************************/
.NomPNJ,
.NomPJ,
.NomInit{
    font-size: 16px;
    display: grid;
}
.NomPNJ,
.NomPJ{
    grid-template-columns: 30px 1fr 45px;
}
.NomInit{
    grid-template-columns: 30px 1fr 45px;
}
.NomLabel{
    padding-right: 4px;
    padding-left: 4px;
}
/*********************************************************/
/*  Definition du menu bas
/*********************************************************/
.Campagne,
.Rencontre{
    padding-left: 8px;
    padding-right: 8px;
    border-width: 2px;
}
.Rencontre{
    grid-column: Rencontre;
    grid-row: 1;
}
.Campagne{
    grid-column: Campagne;
    grid-row: 1;
}
.ZoneMessage{
    grid-column: ZoneMessage;
    grid-row: 1;
    font-weight: normal;
    padding-right: 4px;
    padding-left: 4px;
}
.BoutonHisto{
    grid-column: BtnHisto;
    grid-row: 1;
}
.BoutonJournal{
    grid-column: BtnJournal;
    grid-row: 1;
}
/*********************************************************/
/*      DEFINITION DU JOURNAL ET DE L'HISTORIQUE
/*********************************************************/
.TexteHisto,
.TexteJournal{
    font-weight: normal;
    text-align: left;
    background-color:azure;
    color: black;
    border-width: 1px;
    border-radius: 8px;
    border-style: solid;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;

    z-index: 200;
    position:absolute;
    bottom: 20%;
}
.TexteHisto{
    font-size: 12px;
    width: minmax(40%, max-content);
    left: 240px;
    bottom: 35px;
}
.TexteJournal{
    font-size: 10px;
    width: 250px;
    right: 20px;
    bottom: 35px;
}
.SpanTabulation1{
    margin-left: 1em;
}
.SpanTabulation2{
    margin-left: 2em;
}
.SpanTabulation3{
    margin-left: 3em;
}
/*********************************************************/
/*      DEFINITION DE LA PRESENTATION DES PJ ET PNJ
/*********************************************************/
.PersoDef{
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    display: grid;
}




.test{
    background-color: yellow;
}
