p{
    color: red;
    background-color: blue;
}
.CouleurLigne{
    background-color:wheat;
    color: black;
}
.Trait{
    text-align: center;
    border-style:inset;
    border-radius: 8px;
    border-width: 1px;
    margin-bottom: 1px;
    margin-top: 2px;
    padding-top: 0px;
    padding-bottom: 2px;
    height: 18px;
}
/*============================*/
/*  Definition des Boutons de l'interface
/*============================*/
.EcranPNJ{
    grid-column: 2;
    grid-row: 2/5;
}
.EcranInit{
    grid-column: 4;
    grid-row: 2/5;
}
.ZoneMessage{
    grid-column: 3/12;
    grid-row: 6;

    display: grid;
    grid-template-columns: 40px 1fr 40px;
}
.Message{
    font-family: Verdana, sans-serif;

    position: relative;
    /*display: inline-block;*/
}
.Etape{
    grid-column: 11;
    grid-row: 6;
}
/*============================*/
/*  Definition des lignes
/*============================*/
.Ligne,
.TraitSeparateur,
.LignePerso{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.TraitSeparateur{
    height: 1px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-top: 0Px;
    margin-bottom: 0px;
}
/*  Nom du PNJ, PJ et Init              */
.Indice{
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
    text-align: right;
}
.Nom{
    grid-column: 2;
    grid-row: 1;
}
.Valeur{
    grid-column: 3;
    grid-row: 1;
    text-align: right;
}
.NbAction{
    font-weight: bold;
    grid-column: 3;
    grid-row: 1;
    text-align: right;
}
/*  Definition des caracteristiques des personnages             */
.DonneeDef{
    display: grid;
    grid-template-columns: 4px 66px repeat(6, 1fr) 2px;
    column-gap: 2px;
    align-items:center;
}
.DonneeLab{
    grid-column: 2/4;
    grid-row: 1;
    text-align:left;
}
.DonneeSelect{
    grid-column: 4/9;
    grid-row: 1;
}
